{%extends 'base.html' %}
{%load static%}
{%block content%}
<div class="containers"> <!-- Make sure the "containers" class wraps around the product cards -->
    {% for product in products %}
      <div class="images" id="product-{{forloop.counter}}" data-name="product-{{forloop.counter}}">
        <div class="icon-container">
          <form method="POST" action="{% url 'add_to_wishlist' product.id %}">
            {% csrf_token %}
            <button type="submit" style="background: none; border: none; padding: 0;">
                <div class="icon-box heart-icon">
                    <img src='{% static "./image/heart.png"%}' class="heart" alt="Heart Icon" />
                </div>
            </button>
        </form>
          <div class="icon-box eye-icon">
            <a href="{% url 'product_view' product.id %}"><img src='{% static "./image/view.png"%}' class="eye" alt="Eye Icon" /></a>
          </div>
        </div>
        <img src="{{ product.product_image.url }}" alt="{{ product.product_title }}">
        <h3>{{ product.product_title }}</h3>
        <div class="prices">
          <p class="old-price">&#8377;{{ product.old_price }}</p>
          <p class="new-price">&#8377;{{ product.new_price }}</p>
        </div>
        <a class="add-cart" href="{% url 'add_cart' product.id %}">Add to Cart</a>
      </div>
    {% endfor %}
  </div>
{%endblock%}